.btn {
    display: inline-block;
    width: 117px;
    // height: 90px;
    padding: 15px;
    color: #fff;
    font-family: $font;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    background-color: $color-accent;
    border: none;

  }