.btn {
    display: inline-block;
    width: 497px;
    height: 104px;
    color: #fff;
    font-family: $font;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    background-color: $color-accent;
    border: none;
    border-radius: 5px;
  }
 