
.information-inner {
    @include inner;
    padding: 130px 0;
   
    @media (max-width: $tablet-max) {
        padding: 120px 0;
    }
    @media (max-width: $mobile-max) {
    padding: 90px 0;
    }
}
.information-inner h2 {
    @include section-h2;
}

.accordion {
    margin-top: 40px;
    box-shadow: 0 0 4px rgba(255, 45, 45, 0.2);
     
    &:first-of-type {
      margin-top: 80px;
   
     
    @media (max-width: $tablet-max) {
        margin-top: 70px;
    }
    @media (max-width: $mobile-max) {
        margin-top: 50px;
    }
    }
}

.accordion-btn {
    display: block;
    width: 100%;
    padding: 0 30px;
    text-align: left;
    font-family: $font;
    font-size: 36px;
    line-height: 49px;
    border: 1px rgba(255, 45, 45, 0.2);
    cursor: pointer;
   
    @media (max-width: $tablet-max) {
        font-size: 32px;
        line-height: 44px;
                   
    }
    @media (max-width: $mobile-max) {
        font-size: 20px;
        line-height: 27px;
    }
}

.accordion-answear {
    display: none;
    text-align: left;
    font-family: $font;
    font-size: 18px;
    line-height: 25px;
    padding: 0 30px 30px;
    margin-top: 25px;
      
   
    @media (max-width: $tablet-max) {
        font-size: 16px;
        line-height: 22px;
    }
    @media (max-width: $mobile-max) {
        font-size: 14px;
        line-height: 19px;
    }
}

