.footer {
    background-color: $color-dark;
    color: $color-light;
   
}
.footer-inner {
    @include inner;
   
}
.footer-wrap {
    padding: 13px 0 30px;
    display: flex;
    align-items: center;
   
    @media (max-width: $tablet-max) {
        padding-top: 35px;
    }
    @media (max-width: $mobile-max) {
        padding-top: 30px;
        display: block;
        text-align: center;
    }
}

.footer-logo {
    margin-right: auto;
    width: 180px;
    font-family: 'OpenSans';
    font-weight: 600;
    color: $color-light;
    font-weight: 600;
    font-size: 42px;
    line-height: 49px;
    text-decoration: none;
      
    @media (max-width: $tablet-max) {
        width: 154px;
        font-size: 36px;
        line-height: 49px; 
        
    }
    @media (max-width: $mobile-max) {
        font-size: 28px;
        line-height: 39px;
    }
}

.footer .phone {
    display: block;
    margin-right: 60px;
    width: 225px;
    font-family: $font;
    font-size: 28px;
    color: $color-light;

    @media (max-width: $mobile-max) {
        margin: 30px auto 15px;
    }
     
}
.footer-wrap .social {
    display: flex;
    justify-content: center;
    list-style: none;
   
    .social-item {
        width: 26px;
        height: 26px;
        margin-left: 30px;
    }    
}



