.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 90px 0 130px;
    font-size: 20px;
   
}
  
.form-field {
    padding: 0 $gap-half;
    
}
.form .btn {
    display: block;
    margin-top: 27px;
       
}
    
.form-label {
    font-family: $font;
    font-size: 20px;
    line-height: 27px;
    width: 400px;
}
  
.form-input   {
    width: 100%; 
    height: 104px;
    padding:  20px;
    font-family: $font;
    border-radius: 5px;
    background-color: $color-light;
    border: none;
   
}