.order {
    padding: 130px 0;
    background-color: #c4c4c4;
}
.order-inner {
    @include inner;
}
.order-wrap {
    display: flex;
    flex-direction: column;
    font-family: $font;
}
p {
    font-family: $font;
    font-size: 28px;
    line-height: 38px;
    margin: 40px 0 90px;
    text-align: center;

    @media (max-width: $mobile-max) {
        font-size: 18px;
        line-height: 25px; 
    }

}




