.order {
   
    background-color: #c4c4c4;
}
.order-inner {
    @include inner;
}
.order-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 72px;
    font-family: $font;
}
p {
    font-family: $font;
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
}



