.rewies-inner {
    @include inner;
}
h2 {
    // font-family: $font;
    // font-size: 87px;
    // filter: drop-shadow(0 0  4px rgba(0, 0, 0, 0.25));
    // text-align: center;
    @include section-h2;
}

.rewies-wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.rewies-item {
    display: flex;
    width: 77%;
    margin: 77px 128px 130px;

}
.rewies-item-vision {
    flex-basis: 40%;
    flex-shrink: 0;
    padding-right: $gap 0;
   
}
.rewies-item-text {
    flex-basis: 60%;
    flex-shrink: 0;
    font-family: $font;
    font-size: 24px;
    line-height: 33px;
    
}
.rewies-item-text-ttl {
    font-family: $font;
    font-size: 48px;
    line-height: 62px;
    padding-top: 40px;
    text-align: left;
    
}
.rewies-item-text p {
    text-align: left;
}
 .rewies-wrap .arrow {
    max-width: 60px;
    max-height: 60px;
 }
