.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-inner {
    @include inner;
}
h2 {
    @include section-h2;   
}

.services-works {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin:  80px 0 40px;
}
.services-works p {
    display: block;
    font-family: $font;
    font-size: 24px;
    padding: 0 25px;
       
}
.services-works p:nth-child(1) {
    color: $color-accent;
}

.image {
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
}
.services-figure {
    display: flex;
    flex-basis: 25%;
    flex-shrink: 0;
    padding: $gap-half;
  
}
.figure-img {
    position: relative;
}
.caption {
    @include section-caption;
}
.services .btn {
    margin-bottom: 130px;
    padding-top: 30px;
   

}
