.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  130px 0;
  
    @media (max-width: $tablet-max) {
        padding:  120px 0;
    }
    @media (max-width: $mobile-max) {
        padding:  90px 0;
    }
}
.services-main {
    background-color: #c4c4c4;
    margin-bottom: 31px;
}
.services-inner {
    @include inner;
}

h2 {
    @include section-h2; 
    margin-bottom: 80px; 
       
    @media (max-width: $tablet-max) {
        margin-bottom: 70px; 
    }
    @media (max-width: $mobile-max) {
        margin-bottom: 50px; 
    }
    
}

.services-works {
    display: flex;
    padding-bottom: 30px;
    justify-content:  center;
   
    @media (max-width: $mobile-max) {
        flex-wrap: wrap;
        padding-bottom: 20px; 
    }
  
}
.services-works a {
    display: block;
    font-family: $font;
    font-size: 22px;
    line-height: 24px;
    padding: 0 25px;
    text-decoration: none;
    color: $color-dark;
    &:hover {
        color: $color-accent;
      }
   
      @media (max-width: $mobile-max) {
        padding-top: $gap-half;
      }
       
}
.image {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: $tablet-max) {
        margin-bottom: 80px;
    }
    @media (max-width: $mobile-max) {
        margin-bottom: 60px;
    }
}
.services-figure {
    display: flex;
    flex-basis: 25%;
    flex-shrink: 0;
    padding: $gap-half;

    @media (max-width: $tablet-max) {
        flex-basis: 50%;
        justify-content: center;       
    }

    @media (max-width: $mobile-max) {
        flex-basis: 100%;
        
    }
}

.figure-img {
    position: relative;
}
.caption {
    @include section-caption;
}
.services .btn {
    padding-top: 30px;
   
    @media (max-width: $mobile-max) {
        padding-top: 20px;  
    }
}
