* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 88px;

    @media (max-width: $mobile-max) {
        padding-top: 68px; 
    }
    
}

img {
    width: 100%;
    display: block;
}